@font-face {
    font-family: 'BD Northern';
    src: url('../fonts/ByDesignNorthern.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } 

  body {
    margin: 0;
    background-color: #151311;
    color: rgb(148, 133, 0);
    line-height: 1.5;
    font-family: 'BD Northern', sans-serif;
  }

  h1 {
    color: rgb(207, 197, 152);
  } 

  h2 {
    color: rgb(202, 194, 84);
    size: 30px;
  }

  h5 {
    color: rgb(215, 211, 171);
    size: 200px;
  }
  ul {
    background-image: url(https://raw.githubusercontent.com/SignumDiabolicum/Whispercrow-session/4c3967e6c1a678e413b361fbd814e4691fce44be/MENU.png);
  }

  .header {
    width: 100%;
    max-height: 100%;
    height: 594px;
    position: relative;
    background-image: url(https://grizzly.s.cz/img/Bear_Skull.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
  }

.menu a {
    color: rgb(194, 140, 59);
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }

  .text {
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .img {
    max-width: 100%;
    height: auto;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-center {
    align-items: center;
  }
  .image-wrapper{
    background-image: #151311;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .outlined-image-text {
    -webkit-filter: drop-shadow(1px 1px 0 #747166);
    filter: drop-shadow(-1px -1px 0 #747166)
    drop-shadow(-1px -1px 0 #747166);
    width: 500px;
  }

  fieldset {
    color: rgb(180, 128, 65);
    font-size: 20px;
    position: center;
  }

  footer {
    color: rgb(122, 120, 99);
    font-size: 30px;
    background-color: rgb(18, 17, 10);
  }

  .guru {
    font-size: 200px;
    color: rgb(172, 172, 4);
  }

  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: x-large;
    color: rgb(138, 103, 28);
  }

  .menu-item {
    padding: 20px;
    margin-right: 20px;
    color: rgb(138, 103, 28);
    position: sticky;
  }

  .menu-item:last-of-type {
    margin-right: 20px;
    color: rgb(138, 103,28);
    position: sticky;
  }

  #tiefling {
    max-width: 50%;
    height: auto;
  }
  